html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100%;
}

body {
  height: 100%;
  width: 100%;
  padding: 0;
}

#bg-color {
	background-color: #e74c3c;
	opacity: 0.9;
	padding: 50px;
}

#bg-color2 {
  background-position: center;
	background-size: cover;
	background-image: url('cloudimage.png');
	padding-bottom: 60px;
	margin-bottom: 0px;
}

/* Set background image in HTML with bg ID */


.logo {
  font-family: "Satisfy";
  color: #fff;
	text-shadow:
	   -1px -1px 0 #000,  
	    1px -1px 0 #000,
	    -1px 1px 0 #000,
	     1px 1px 0 #000;
	font-size: 50px;
  text-align: left;
  margin-top: -20px;
  margin-right: 40px;
}


p {
  color: #000;
  line-height: 22px;
  font-size: 14px;
  text-align: left;
  font-family: "Raleway", "Helvetica Neue", sans-serif;
  margin-bottom: 10px;
  margin-top: 10px;
}


a {
  color: #f39c12;
  text-decoration: none;
}

a:hover {
  color: #e74c3c;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Quicksand", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.1;
  color: #34495e;
}

h1 {
	text-align: center;
	color: #fff;
	font-size: 32px;
}

h2 {
	margin-bottom: 10px;
	border-bottom: 1px solid #34495e;
	padding-bottom: 10px;
}

h3 {
	font-size: 26px;
	margin-bottom: 0px;
	color: #e74c3c;
}

h4 {
	font-size: 22px;
	margin-top: 20px;
	margin-bottom: 10px;
}

h5 {
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

li {
  color: #000;
}


.button-style {
  font-size: 18px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.button-style a {
  color: #fff;
}

.button-style a:hover {
  color: #000;
}

.nav-pills > li + li {
  margin-left: 10px;
	font-family: "Quicksand", "Raleway", sans-serif;
}

.border_btm {
  border-bottom: 3px solid #fff;
}

.prof {
  width: 250px;
  height: auto;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  float: left;
}

.title-header {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #2c3e50;
	margin-bottom: 40px;
}